body {
    background: url("/static/images/bubblebackground.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#brandname {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;    
    font-size: 25px;
}

#menu {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
}