body {
    background: url("/static/images/soapbubbles.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    font-family: "Brush Script MT", cursive;
    font-size: 55px;
}

p {
    font-size: 16px;
}

.container {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 110px;
    margin-bottom: 110px;
    padding: 50px;
}

#brandname {
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;    
    font-size: 25px;
    color: #ffffff;
}

#menu {
    padding-left: 15px;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.8);
}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.highlight {
    color: #E68A2E;
    font-weight: bold;
}

.icon {
width:28px;
height:30px;
display:block;
text-indent:-9999px;
background-image:url("/static/images/social-icons.jpg");
background-repeat:no-repeat;
}

.twitter {
    background-position:0px 0px;
}

.linkedin {
    background-position:42px 0px;
}




